@use "vars" as _vars;

@use "./components/select" as _select;
@use "./components/button" as _btn;
@use "./components/input__file" as _inputFile;
@use "./components/input__text" as _inputText;

.main {
  background: _vars.$gray;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
  max-width: 100%;
}

.card {
  background: _vars.$white;
}

.panel {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  background-color: rgb(28, 31, 36);
  margin-bottom: 0;
  border-radius: 0;
  &__control {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  &__item {
    padding: 15px 5px;
    color: _vars.$white;
    text-align: center;
    height: max-content;
    width: 100%;
    min-width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    user-select: none;
    &:hover {
      background-color: rgb(39, 42, 48);
    }
    i {
      font-size: 2em;
    }
    &.active {
      background-color: rgb(52, 55, 64);
    }
  }
  &__options {
    padding: 10px;
  }
  &__elements {
    padding: 1em;
    margin: 0;
    background-color: rgb(52, 55, 64);
    min-width: 260px;
    .submenu {
      display: none;
      &.active {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.elements {
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    background-color: _vars.$white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    user-select: none;
    touch-action: none;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: antiquewhite;
      cursor: grab;
    }
  }
}

.menu {
  &__template {
    gap: 20px;
  }
}

.backgound__examples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 50px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100px;
  }
  &--item {
    cursor: pointer;
    user-select: none;
    transition: 0.5s ease-in-out;
    &:hover {
      opacity: 0.8;
      transform: translateY(-2px);
    }
  }
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  width: 100%;
  margin: 0;
  padding: 0;
  &__menu {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }

  &__canvas {
    background-color: _vars.$gray-light;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  &__actions {
    padding: 1em;
  }
}

.canvas__template {
  background: _vars.$white;
  box-shadow: _vars.$shadow;
}

.drag-over {
  border: 3px dashed red;
}

.modal__container {
  position: absolute;
  z-index: 99;
  background-color: gray;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
  flex-direction: column;
  gap: 30px;

  .canvas__template {
    margin: 0 auto;
    cursor: auto;
  }

  &--active {
    display: flex;
  }
}

.dropzone__template {
  width: 11in; /* Ancho de una hoja tamaño carta */
  height: 8.5in; /* Alto de una hoja tamaño carta */
  background-color: white; /* Opcional: Fondo blanco para simular una hoja */
  margin: 0 auto;
  border-radius: 5px;
  transition: all 0.3s ease;
  position: relative;
}

.dragging {
  /* Estilos para el elemento mientras se arrastra */
  opacity: 1;
  transform: scale(0.9);
  border: 1px dashed red;
  background-color: black;
  color: white;
}

.dragging--enter {
  /* Estilos para el elemento mientras se arrastra */
  opacity: 0.8;
  transform: scale(1.02);
  border: 1px dashed red;
  background-color: rgba(127, 255, 212, 0.568);
}

.drop--element {
  /* Estilos para el elemento mientras se arrastra */
  /* border: 1px dashed red;
  background-color: rgba(139, 139, 139, 0.568); */
}




.edit-button, .remove-button  {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #360101;
  color: aliceblue;
  user-select: none;
  border: none;
  border-radius: 50%;
  font-size: 12px;
  width: 25px;
  height: 25px;
  line-height: 0;
  transform: translateY(-50%) translateX(50%);
  cursor: pointer;

  display: none;
}

.remove-button  {
  right: initial;
  left: 0;
  transform: translateY(-50%) translateX(-50%);
  font-size: 10px;
  &:hover {
    background-color: #ff0000;
  }
}

.elements__item--clone {
  &:hover {
    .edit-button, .remove-button {
      display: block;
    }
  }
}


.note-status-output {
  padding: 0;
}

.popover-content, .note-btn-group {
  display: flex;
}